IANA particulars

From an early IANA review:

> First, if the Specification Required procedure mentioned in Section 6.2 is meant to include the mailing list review described in RFC 8447, could you include some text that refers to it? draft-ietf-tls-external-psk-importer used "The procedures for requesting values in the Specification Required space are specified in Section 17 of [RFC8447]."

> Actually, given that the mailing list is used throughout the TLS registries, if it isn't being used here, it might be helpful to note that as well.

> Second, in Section 6.5, should the “template” field contain a link to a .json file, or should it contain the text itself?